.navbar {
  background-color: #003554;
  border-bottom: 2px solid var(lighter-main-color);

  &__container {
    display: flex;
    padding: 1rem;
    margin: 0 1rem;
  }

  &__right {
    flex: 1;
  }

  &__logo {
    font-size: 6rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
  }

  &__left {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 400px) {
      flex: 3;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2.4rem;

    &-button {
      background: none;
      border: none;
      font-size: 2.4rem;
      color: #fff;
      position: relative;
      cursor: pointer;

      &-text {
        display: inline-block;
      }
    }

    &-image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: fill;
    }
  }
}

.profileDropdown {
  width: 15rem;
  padding: 0 1rem;
  border-radius: 3px;
  position: absolute;
  top: 130%;
  right: 0;
  background-color: var(--main-color);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  li {
    margin: 1rem 0;
    position: relative;
    z-index: 100000;
  }

  &.active {
    opacity: 1;
  }

  &__links {
    &.show {
      display: none;
    }
  }
}
